{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="blocCondition">
            <h1>CONDITIONS D'UTILISATION</h1>

            <div><h4><strong>1.</strong> Conditions générales</h4></div>

            L’accès à ce site Internet et son utilisation sont soumis à l’acceptation préalable de ces conditions générales. En visitant ce site Internet ou en utilisant les informations qui y figurent, vous en acceptez automatiquement les conditions générales. WebAwards peut modifier ces conditions à tout moment.

            <div><h4><strong>2.</strong> Responsabilité de la WebAwards</h4></div>

            Les informations sur ce site Internet ont été établies de bonne foi afin de fournir des explications sur la WebAwards, la Société Belge des Auteurs, Compositeurs et Éditeurs, et ses services. Si ces informations devaient toutefois se révéler incomplètes ou comporter des erreurs, WebAwards ne peut nullement en être tenue responsable.
            La WevAwards ne peut pas davantage être tenue responsable d’éventuels dommages, de quelque nature soient-ils, qui sont la conséquence de ou ont un rapport avec l’utilisation de ou l’accès au site Internet ou qui sont la conséquence de ou ont un rapport avec le matériel, les informations, les appréciations ou les recommandations figurant sur ce site Internet.

            La WebAwards peut, à tout moment et sans avertissement préalable, apporter les modifications et/ou adaptations nécessaires aux informations et au matériel présentés sur ce site Internet.

            <div><h4><strong>3.</strong> Droits de propriété intellectuelle</h4></div>

            Le matériel qui est présenté sur ce site Internet, y compris et sans restrictions tout le matériel rédactionnel, les photos, les illustrations et tout autre matériel graphique, et les noms, logos, marques déposées et marques de service sont la propriété matérielle et intellectuelle de la WebAwards ou de ses sociétés affiliées ou de tiers avec lesquels la WebAwards a conclu des contrats de licence ou autres conventions; ils peuvent être protégés par le droit d’auteur, le droit des marques ou d’autres lois relatives à la propriété intellectuelle. Il n’est pas autorisé de copier, envoyer, distribuer, diffuser, vendre, publier, émettre, faire circuler, arranger ou modifier le matériel de ce site web, en tout ou en partie. Si vous voulez le reproduire ou le communiquer au public, vous devez alors disposer de l’autorisation écrite expresse de la WebAwards, à moins que ceci ne soit pas nécessaire en vertu des dispositions légales concernées.

            La loi sur le droit d’auteur autorisé par exemple :

            d’imprimer ou de télécharger des fragments du matériel figurant sur ce site Internet, et ce à des fins non-commerciales, informatives et personnelles, ou
            de copier le matériel figurant sur ce site Internet dans l’intention de le diffuser et de le communiquer dans le cercle familial.
            Certains noms d’entreprise, signes, logos ou dessins et modèles qui apparaissent éventuellement sur notre site Internet peuvent être protégés par des droits de propriété intellectuelle ou industrielle. Il n’est dès lors pas autorisé de les utiliser librement.

            L’acceptation automatique de ces conditions générales présentes, ne peut, dans aucun cas, être interprétée dans le sens de ou être assimilée à l’obtention d’une licence ou autre droit d’utilisation en ce qui concerne ces informations, données, produits ou services protégés par des droits de propriété intellectuelle ou industrielle.

            <div><h4><strong>4.</strong> Liens</h4></div>


            a. création d’un lien hypertexte avec le site Internet de WebAwards
            Si vous voulez créer sur votre propre site Internet un lien hypertexte avec le site de la WebAwards, vous devez disposer à cet effet de l’autorisation écrite expresse. Vous pouvez envoyer votre demande au webmaster.


            b. liens avec des sites Internet gérés par des tiers
            Le site Internet de la WebAwards contient des liens avec des sites Internet qui ne sont pas sous le contrôle de la WebAwards. La WebAwards ne contrôle pas ces sites Internet et le contenu que l’on y retrouve. La SABAM ne porte aucune responsabilité en ce qui concerne le contenu de tels liens ou les liens figurant à leur tour sur ces sites.

             <div><h4><strong>5.</strong> Législation applicable et tribunal compétent</h4></div>

            Ces conditions sont régies par le droit belge et exécutées en conformité avec celui-ci. Seuls les tribunaux de l’arrondissement de Bruxelles sont compétents pour connaître d’éventuels litiges qui pourraient en découler.
        </div>
    </div>
{% endblock %}