{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="blocCondition">
            <h1>SYSTÈME D'ÉVALUATION</h1>

            <div><h4 class="mt40"><strong>1.</strong> Fluidité</h4></div>
            <p>La note Fuidité permet d'évaluer la fluidité du site, pour vous aider, posez-vous les questions suivantes : Est-ce que le site vous semble fluide ? Est-ce que l'intégralité des pages peuvent être lues sans que des "frictions" apparaissent ? Pour ce points, veuillez prendre en compte que la connexion risque d'influancer le résultat.</p>
            <div><h4><strong>2.</strong> Concept</h4></div>
            <p>La note Concept permet d'évaluer le concept du site, d'une manière générale trouvez-vous que le site présente bien son idée ? Le message est-il compris d'une manière clair ? Est-ce que ce qui est présenté sur le site web vous plaît ?</p>
            <div><h4><strong>3.</strong> Design</h4></div>
            <p>La note Design permet d'évaluer le rendu visuel du site, une des notes les plus importante, elle porte un rôle principale pour l'établissement de la note globale. Prenez compte de tous les critères, les couleurs, la disposition des différents éléments, essayer d'être le plus objectif possible.</p>
            <div><h4><strong>4.</strong> Responsive</h4></div>
            <p>La note Responsive permet d'évaluer le rendu visuel du site sur différents types de supports (tablettes, mobiles, ... ). Pour ce faire, il serait plus objectif de juger l'impact réel en visitant le site sur le support concerné (Ex: Avant d'attribuer la note responsive à un projet, prenez le temps de le visiter sur votre smartphone. ).</p>
            <div><h4><strong>5.</strong> TOTAL</h4></div>
            <p>Pour des questions d'objectivité et de confidentialité nous ne revelerons pas la pondération appliquée à cette note.</p>
        </div>
    </div>
{% endblock %}